---
layout: default
---

<div class="home" >
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div style="display:flex;align-items:center;flex-direction:column;width:100%">
    <img src="./static/avatar.jpg" style="width:250px;border-radius:50%" />
    <h1 style="margin-bottom:0">
      Riley Gabrielson
    </h1>
    <h3>
      Staff Engineer @ TCN
    </h3>
  </div>

  <div class="social-links">
    <a href="https://github.com/{{ site.github_username }}" class="social-link">
      {% include icon-github.html %}
    </a>
    <a href="mailto:{{ site.email }}" class="social-link">
      {% include icon-email.html %}
    </a>
    <a href="https://www.tcn.com/" class="social-link">
      {% include icon-tcn.html %}
    </a>
  </div>

  {{ content }}

</div>


